@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  .container {
      max-width: 968px;
  }
}

@media (min-width: 1280px) {
  .container {
      max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
      max-width: 1536px;
  }
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.list-img{
  list-style-image: url('public/hand-point-right.svg');
  /* color: white; */
}